.radios {
  &:hover {
    .radiosTitle {
      a {
        display: inline-block;
      }
    }
  }
  .radiosTitle {
    font-size: 20px;
    color: var(--text-primary);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    a {
      border: none;
      outline: none;
      text-decoration: none;
      background-color: transparent;
      font-size: 12px;
      text-transform: uppercase;
      color: var(--text-secondary);
      transition: all 0.5s;
      cursor: pointer;
      animation: textMoveRight 1s;
      display: none;

      &:hover {
        color: var(--purple-primary);
      }
    }
  }
  .content {
    margin-left: -15px;
    margin-right: -15px;
  }
}

@keyframes textMoveRight {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media only screen and(max-width:769px) {
  .radios {
    .radiosContainer {
      flex-wrap: wrap;
    }
  }
}
