.item {
  width: 20%;
  padding: 15px;
  text-align: center;
  .itemWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .itemImg {
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      &:hover img {
        transform: scale(1.2);
      }

      &:hover .imgLayer {
        opacity: 0.3;
      }

      &:hover .imgIcon {
        opacity: 1;
      }

      img {
        width: 100%;
        transition: all 0.5s;
      }

      .imgLayer {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: black;
        opacity: 0;
        transition: all 0.5s;
      }

      .imgIcon {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: all 0.5s;
      }
    }

    .itemTitle {
      text-align: center;
      display: -webkit-box;
      text-decoration: none;
      color: var(--text-primary);
      cursor: pointer;
      font-size: 16px;
      margin-top: 10px;
      transition: all 0.5s;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;

      &:hover {
        color: var(--purple-primary);
      }
    }

    .itemSub {
      display: block;
      color: var(--text-secondary);
      font-size: 12px;
    }

    .btnWrap {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 10px 0;
    }
  }
}

@media only screen and(max-width:769px) {
  .item {
    width: calc(100% / 3);
  }
}

@media only screen and(max-width:426px) {
  .item {
    width: 50%;
  }
}

@media only screen and(max-width:326px) {
  .item {
    width: 100%;
  }
}
