.app {
  position: relative;
  overflow: hidden;
}

.app__container > .row {
  margin: unset !important;
}

.app__container > .row > div {
  padding: unset;
}

.app__container {
  background-color: var(--layout-bg);
  position: relative;
  /* max-width: 1536px; */
  overflow: hidden;
}

.app__wrap {
  /* height: 100vh; */
}

.app__outer {
  /* padding: 100px 0; */
}

.pd-15-px {
  padding: 15px;
}

.mr-10-px {
  margin-right: 10px;
}

.is-40-px {
  height: 40px;
  width: 40px;
}

.is-60-px {
  height: 60px;
  width: 60px;
}

a {
  transition: var(--transition-time);
  cursor: pointer;
}

a:hover {
  color: var(--link-text-hover) !important;
}

.infinite-scroll-component::-webkit-scrollbar {
  width: 6px !important;
}

.infinite-scroll-component::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-bg) !important;
}

.swiper-button-next,
.swiper-button-prev {
  margin-top: calc(0px - (var(--swiper-navigation-size))) !important;
}

@media only screen and (max-width: 767px) {
  .app__nav {
    width: 0%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999999999;
    transition: all 0.2s linear;
  }
  .app__nav--active {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .app__nav--active {
    width: 80%;
  }
}
