.container {
  padding: 0 15px;
  .img {
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    &:hover {
      img {
        transform: scale(1.3);
      }
    }
    img {
      width: 100%;
      transition: all linear 0.3s;
    }
  }
  p {
    margin: unset;
    color: var(--white);
    font-weight: 700;
    cursor: pointer;
  }
}
