.container {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--purple-primary);
  color: #fff;
  padding: 9px 16px;
  font-size: 12px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    p {
      margin: unset;
      span {
        font-size: 14px;
        font-weight: 700;
      }
    }
    button {
      display: flex;
      align-items: center;
      background-color: transparent;
      border: unset;
      margin-left: 10px;
      font-size: 20px;
      color: #fff;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
