.album {
  padding: 100px 0;
  height: 100vh;
  overflow-y: scroll;
  .albumContainer {
    padding: 15px 20px 0;
  }
}

.album::-webkit-scrollbar {
  width: 6px;
}

.album::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-bg);
}
