.playlist {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 400px;
  z-index: 99998;
  padding: 20px 10px 80px;
  box-shadow: var(--box-shadow-queue);
  background-color: var(--queue-player-popup-bg);
  transform: translateX(100%);
  transition: all 0.5s linear;
  .container {
    height: 100%;
    .wrap {
      height: 100%;
      .header {
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2 {
          font-size: 24px;
          color: var(--text-primary);
          margin: unset;
          flex: 1;
        }
        .btn {
          border-radius: 50%;
          margin: 0 5px;
          position: relative;
          .options {
            position: absolute;
            top: calc(100% + 10px);
            right: 0;
            background-color: var(--primary-bg);
            border-radius: 8px;
            position: absolute;
            box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
            width: 240px;
            z-index: 999999;
            ul {
              padding: unset;
              list-style: none;
              margin: unset;
              padding: 10px 0;
              li {
                color: var(--text-primary);
                text-align: start;
                padding: 5px 10px;

                &:hover {
                  background-color: var(--alpha-bg);
                  color: var(--text-item-hover);
                }
              }
            }
          }
        }
        .btn.active {
          background-color: var(--purple-primary);
        }
      }
      .body {
        height: 100%;
        overflow-y: scroll;
        .past {
        }
        .next {
          > h3 {
            margin: 10px 0;
            font-size: 18px;
            color: var(--text-primary);
          }
        }
      }
    }
  }
}

.playlist.playlistShow {
  transform: translateX(0);
}

.body::-webkit-scrollbar {
  width: 6px;
}

.body::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-bg);
}
