.home {
  background-color: var(--layout-bg);
  padding: 100px 40px;
  height: 100vh;
  overflow-y: scroll;
}

.home::-webkit-scrollbar {
  width: 6px;
}

.home::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-bg);
}
