.albumRight {
  padding-right: 40px;

  .albumWrap {
    max-height: 90vh;
    flex: 1;
    overflow-y: scroll;

    .albumRightTitle {
      font-size: 14px;
      padding-bottom: 10px;
      color: var(--text-primary);

      span {
        color: var(--text-secondary);
        margin-right: 8px;
      }
    }

    .info {
      display: flex;
      justify-content: space-between;
      color: var(--text-secondary);
      text-transform: uppercase;
      font-size: 14px;
      padding: 15px;
      border-bottom: 1px solid var(--border-secondary);

      .infoLeft {
        width: 50%;
        display: flex;
        align-items: center;
        .sortBtn {
          margin-right: 4px;
          cursor: pointer;

          &:hover {
            opacity: 0.8;
          }
        }
      }

      //   .album__right__left i {
      //     margin-right: 8px;
      //     cursor: pointer;
      //     transition: all 0.5s;
      //   }

      .album__right__left i:hover {
        color: var(--purple-primary);
      }

      .infoCenter {
        width: 40%;
      }

      .infoRight {
        width: 10%;
      }
    }
  }

  .albumWrap::-webkit-scrollbar {
    width: 6px;
  }

  .albumWrap::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-bg);
  }
  > p {
    color: var(--text-secondary);
    margin-top: 10px;
  }
}
