.container {
  margin-top: 40px;
  h5 {
    color: var(--white);
  }
  .content {
    margin-left: -15px;
    margin-right: -15px;
    .nation {
      width: 100%;
      padding: 0 15px;
      display: block;
      .nationWrap {
        overflow: hidden;
        border-radius: 10px;
        cursor: pointer;
        &:hover {
          img {
            transform: scale(1.2);
          }
        }
        img {
          width: 100%;
          transition: all linear 0.3s;
        }
      }
    }
  }
}
