.topics {
  padding: 15px;
  margin-top: 20px;
  color: var(--text-primary);

  .topicsTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn {
      display: flex;
      align-items: center;
      color: var(--text-secondary);
      margin-bottom: 20px;
      font-size: 24px;

      .btnChildActive {
        cursor: pointer;
        color: var(--text-primary);
      }
    }
  }

  .topicContainer {
    // width: 100%;
    display: flex;
    flex-wrap: nowrap !important;
    overflow: scroll;
    scroll-behavior: smooth;
  }
}
