.container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  .layer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 0.7;
  }
  .content {
    background-color: var(--layout-bg);
    position: relative;
    width: 996px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
    .left {
      background-color: rgb(0, 0, 0);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .right {
      padding: unset;
      height: 100%;
      .rightContent {
        height: 100%;
        background-color: var(--primary-bg);
        display: flex;
        flex-direction: column;
        .author {
          display: flex;
          padding: 10px;
          img {
            width: 50px;
            border-radius: 50%;
            margin-right: 10px;
          }
          .info {
            a {
              font-size: 16px;
              display: block;
            }
            span {
              font-size: 12px;
              color: var(--text-secondary);
            }
          }
        }
        .mess {
          flex: 1;
          overflow-y: scroll;
          color: var(--white);
          padding: 10px;
          border-top: 1px solid var(--border-secondary);
          border-bottom: 1px solid var(--border-secondary);
        }
        .express {
          padding: 20px;
          display: flex;
          .icon {
            margin-right: 40px;
            font-size: 18px;
            display: flex;
            align-items: center;
            color: var(--white);
            span {
              font-size: 14px;
              margin-left: 4px;
            }
          }
        }
      }
    }
  }
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: unset;
  }
}

@media screen and (max-width: 991px) and (min-width: 500px) {
  .container {
    .content {
      width: 500px;
      height: 800px;
      flex-direction: column;
      .left {
        height: 400px;
        img {
          height: 100%;
        }
      }
      .right {
        flex: 1;
      }
    }
  }
}

@media screen and (max-width: 499px) {
  .container {
    .content {
      width: 320px;
      height: 500px;
      flex-direction: column;
      .left {
        height: 200px;
        img {
          height: 100%;
        }
      }
      .right {
        flex: 1;
        height: unset;
      }
    }
  }
}
