.nav {
  height: 100vh;
  background-color: var(--layout-bg);
  padding: unset;
  z-index: 999;
  .navWrap {
    height: 100%;
    width: 100%;
    padding: 20px 0;
    background-color: var(--sidebar-bg);
    .logo {
      width: 100%;
      display: flex;
      align-items: center;
      padding-left: 20px;
      margin-bottom: 40px;
      button {
        background-color: transparent;
        border: unset;
        padding-right: 20px;
        color: var(--text-primary);
        font-size: 28px;
        display: none;
      }
      a {
        width: 120px;
        height: 40px;
        display: inline-block;
        background: var(--img-logo-mp3) 50% / contain no-repeat;
        background-position: center;
        cursor: pointer;
      }
    }
    .divide {
      height: 1px;
      width: 100%;
      position: relative;
      margin: 15px 0;
    }
    .divide::after {
      content: "";
      height: 100%;
      width: 86%;
      display: block;
      position: absolute;
      background-color: var(--border-primary);
      left: 50%;
      transform: translateX(-50%);
      top: 0;
    }
    .navList {
      list-style: none;
      margin: 0;
      padding: unset;
      .navItem {
        text-decoration: none;
        padding: 10px 20px;
        color: var(--navigation-text);
        display: flex;
        align-items: center;
        cursor: pointer;
        font-size: 16px;
        span {
          margin-left: 10px;
        }
        &.navItemActive {
          background-color: var(--alpha-bg);
          border-left: 3px solid var(--purple-primary);
          color: var(--text-primary);
        }
        &:hover {
          color: var(--text-primary);
        }

        .itemHint {
          font-size: 10px;
          text-transform: uppercase;
          color: var(--text-primary);
          display: block;

          padding: 0px 5px;
          border-radius: 2px;
          background-color: red;
        }
      }
    }
    .navFeatures {
    }
  }
}

.navItem i {
  margin-right: 8px;
  font-size: 20px;
}

// responsive
@media only screen and(max-width:1200px) {
  .nav {
    .navWrap {
      .logo {
        padding: unset;
        a {
          background-image: var(--img-logo-mp3-small);
        }
      }
      .navList {
        .navItem {
          display: flex;
          justify-content: center;
          .itemName {
            display: none;
          }
          .itemHint {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .nav {
    .navWrap {
      .logo {
        padding-left: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
          display: block;
        }
        a {
          background-image: var(--img-logo-mp3);
        }
      }
      .navList {
        .navItem {
          display: flex;
          justify-content: flex-start;
          .itemName {
            display: block;
          }
          .itemHint {
            display: block;
          }
        }
      }
    }
  }
}
